<h1>Here is the product you ordered:</h1>

<img src="<%= @product.image %>">

<h2>ID: <%= @order.id %></h2>
<h2>Product Name: <%= @product.name %></h2>
<h2>Product ID: <%= @product.id %></h2>
<h2>Quantity: <%= @order.quantity %></h2>
<h2>Subtotal: <%= number_to_currency @order.subtotal %></h2>
<h2>Tax: <%= number_to_currency @order.tax %></h2>
<h2>Total: <%= number_to_currency @order.total %></h2>
<h2>Email: <%= @user.email %></h2>
<h2>Your order was purchased on: <%= @order.pretty_time %></h2>




  