<h1>Hey, <%= current_user.name %>, here is your order:</h1>
<h2>Your subtotal is: <%= number_to_currency @order.calculated_subtotal %></h2>
<h2>Your total is: <%= number_to_currency @order.calculated_total %></h2>


<p><% @order.carted_products.each do |carted_product| %></p>
<p><img src="<%= carted_product.product.image %>"></p>
<p><%= carted_product.product.name %></p>
<p>Quantity: <%= carted_product.quantity %></p>
<p>Price: <%= number_to_currency carted_product.product.price %></p>
<hr>
<% end %>







  