<h1>Here is the result of your search:</h1>

<div class="row">
<% @products.each_with_index do |product, index| %>
<!-- Print products across 3 at a time and then a new row. -->
<div class="col-md-4 my-col row-eq-height">
  <!-- # Link product name to individual product page -->

  <!-- Add a query line parameter -->
  <h2><a href="/products/<%= product.id %>"><%= product.name %></a></h2>
  <p><class="price"><%= number_to_currency product.price %></a></p>
  <p><img src="<%= product.image %>"></p>
  <p><%= product.description %></p>
  <p class="in_stock"><%= product.in_stock? %></p>
  <p><button type="button" class="btn btn-success">Buy now!</button></p>
</div>
<% if index % 3 == 2 %>
</div>
<div class="row">
<% end %>
<% end %>
</div>


