<h2>Add images to your product below, or click cancel to return to the home page.</h2>

<%= form_tag "/products/#{params[:id]}/images", method: :post do %>
  <div>
  <%= label_tag :url %>
  <%= text_field_tag :url %>
  </div>
  <div>
  <%= label_tag :product_id %>: 
  <%= Product.find(params[:id]).name %>
  <%= text_field_tag :product_id, params[:id], :readonly => true %>

  <!-- Alphabetically sorted drop down list -->
  <!--<%= select_tag 'product_id', options_for_select(@products.collect{ |s| [s.name, s.id] }) %>-->
  <!-- <%= select_tag :id, options_for_select(@products.all.collect{|p| [p.name, products_path(p.id)]}.sort, [@products.name, products_path(@products)]) %> -->
  </div>
  <%= submit_tag 'Add Image!' %>
<% end %>

<%= link_to "Cancel and return to home page.", "/products" %><br>
